@import "_index";

.chef-page-wrapper {
  @include small-screen {
    @include smallPadding;
  }

  @include medium-large-screens {
    @include bigPadding;
  }
  .chef-page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
.chefs-container {
  padding-top: 50px;
  min-height: 1200px;

  app-filter-bar {
    @include small-screen {
      display: flex;
      justify-content: flex-start;
    }
  }
}
second-filter-bar-container {
  display: none;
}
