<div class="background-color">
  <div class="wrapper">
    <div class="about-container">
      <div class="logo-wrapper">
        <img class="logo" src="assets/about-logo-with-text.svg" alt="logo" />
      </div>
      <div class="about-wrapper">
        <div class="apple-google-container">
          <img src="assets/google-store.svg" alt="apple store" />
          <img src="assets/apple-store.svg" alt="google play" />
        </div>
        <h3>About us:</h3>
        <div class="description-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus
            vel justo fermentum bibendum non eu ipsum. Cras porta malesuada
            eros, eget blandit turpis suscipit at. Vestibulum sed massa in magna
            sodales porta. Vivamus elit urna, dignissim a vestibulum. <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus
            vel justo fermentum bibendum no eu ipsum. Cras porta malesuada eros.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
