@if (navBarMobile) {
  <app-mobile-navbar />
} @else {
  <div class="header-wrapper">
    <div class="header-container">
      <button class="btn navbar-btn" (click)="onToggleNavbar()">
        <img class="navbar-icon" src="assets/logos/navbar-logos/navbar.svg" alt="Navigation Bar" />
      </button>

      <div class="left-toolbar">
        <button class="btn" (click)="navigateTo('Homepage')">
          <img class="logo" src="assets/logos/navbar-logos/about-logo.svg" alt="Logo" />
        </button>
        <div class="links-container">
          <button class="btn" (click)="navigateTo('Homepage')">
            <h2 class="title">Epicure</h2>
          </button>
          <div class="button-container">
           @for (tab of headerTabs; track tab) {
            <button  class="btn" [ngClass]="{ active: selectedTab === tab }" (click)="navigateTo(tab)">
              {{ tab }}
            </button>
           }
          </div>
        </div>
      </div>

      <div class="right-toolbar">
        @for(icon of toolbarIcons; track icon) {
          <button (click)="onClick(icon.name)" class="btn">
            <img [src]="icon.imgsrc" [alt]="icon.name" />
          </button>
        } 
      </div>
    </div>
  </div>
}