@if (navBarMobile) {
    <app-mobile-navbar />
  } @else {
    <div class="wrapper">
      <div class="header-container">
        <button class="btn navbar-btn" (click)="onToggleNavbar()">
          <img class="navbar-icon" src="assets/navbar.svg" alt="Navigation Bar" />
        </button>

        <div class="left-toolbar">
          <img class="logo" src="assets/about-logo.svg" alt="Logo" />
          <div class="links-container">
            <h2 class="title">Epicure</h2>
            <div class="button-container">
              <button class="btn">Restaurants</button>
              <button class="btn">Chefs</button>
            </div>
          </div>
        </div>
    
        <div class="right-toolbar">
          <button class="btn"><img src="assets/search.svg" alt="Search" /></button>
          <button class="btn"><img src="assets/client.svg" alt="Client" /></button>
          <button class="btn" (click)="onToggleCart()"> <img src="assets/bag.svg" alt="Bag" /> </button>
        </div>
      </div>
    </div>
  }
  
  