@import "_index";

.footer-container {
  gap: 40px;

  button {
    @include linksFont;
  }

  @include small-screen {
    @include flexStyleColumn;
    width: 100%;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  @include medium-large-screens {
    width: 100%;
    @include flexStyleRow;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 52px;
  }
}

.wrapper {
  @include small-screen {
    @include smallPadding;
  }

  @include medium-large-screens {
    @include bigPadding;
  }
}
