@import "_index";

.generic-card-container {
  @include flexStyleColumn;
  background-color: $cremeColor;
  overflow: hidden;
  gap: 10px;
  width: 100%;
  padding-bottom: 15px;
  min-width: 150px;
  height: 100%;

  @include small-screen {
    align-items: flex-start;
  }

  @include medium-large-screens {
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;

    @include small-screen {
      height: 140px;
    }
    @include medium-screens {
      height: 150px;
      min-height: 150px;
    }
    @include large-screens {
      height: 200px;
      min-height: 200px;
    }
  }
  
  h3 {
    @include flexStyleColumn;
    @include h3Font;
    margin-top: 10px;

    @include small-screen {
      align-self: flex-start;
      align-items: flex-start;
      text-align:left;
      margin-top: 5px;
      margin-left: 15px;
    }

    @include medium-screens {
      font-size: 28px;
    }

    @include medium-large-screens {
      width: 75%;
    }
  }
}
