@import "_index";

.generic-card-container {
  background-color: $cremeColor;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-container {
    @include flexStyleColumn;
  }

  @include small-screen {
    @include flexStyleColumn;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    h3 {
      @include h3Font;
      align-self: flex-start;
      margin-top: 5px;
      margin-left: 10px;
    }

    .text-container {
      @include bodyTextFont;
      align-self: flex-start;
      margin-left: 5px;
    }
  }

  @include medium-large-screens {
    @include flexStyleColumn;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    min-height: 155px;
    text-align: center;

    h3 {
      @include h3Font;
      font-size: 20px;
    }

    .text-container {
      @include bodyTextFont;
      font-size: 10px;
      text-align: center;
    }
  }
}