@if (isRegisterVisible) {
<div class="modal-background">
  <div class="modal-container">
    <div class="modal-content">
      <div class="title">
        <h2>SIGN UP</h2>
        <p>Welcome to Epicure, please sign up</p>
      </div>

      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="inputs">
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="Email address"
            #emailField="ngModel"
            [email]="true"
          />
          @if (emailField.invalid && emailField.touched) {
          <div class="error error-1">Please enter a valid email</div>
          }
          <input
            [type]="passwordFieldType"
            id="password"
            [(ngModel)]="password"
            name="password"
            minlength="6"
            required
            placeholder="Password"
            #passwordField="ngModel"
          />
          @if (passwordField.invalid && passwordField.touched) {
            <div class="error error-2" >
              Password must be at least 6 characters
            </div>
          }
          <input
            [type]="confirmPasswordFieldType"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            placeholder="Confirm Password"
            #confirmPasswordField="ngModel"
          />
          @if (password !== confirmPassword && confirmPasswordField.touched) {
          <div class="error error-3">Passwords do not match</div>
          }

          <button (click)="onPasswordEyeClick()" type="button" class="btn img1">
            @if (!passwordVisible) {
            <img src="assets/eye-icon.svg" alt="Show password" />
            } @else {<img
              src="assets/eye-slash-icon.svg"
              alt="Hide password"
            />}
          </button>
          <button (click)="onConfirmPasswordEyeClick()" type="button" class="btn img2">
            @if (!confirmPasswordVisible) {
            <img src="assets/eye-icon.svg" alt="Show confirm password" />
            } @else {<img
              src="assets/eye-slash-icon.svg"
              alt="Hide confirm password"
            />}
          </button>
        </div>

        <div class="second-form">
            
          <button
            class="register"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Register
          </button>
          @if (!isRegisterSuccessful) {
          <div class="error-4">Registration unsuccessful. Please try again.</div>
          }
          <div class="or-lines">
            <hr class="line" />
            <p>or</p>
            <hr class="line" />
          </div>
          <button type="button" (click)="goToLogin()" class="sign-up">
            SIGN IN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

}
