@import "_index";

.mobile-navbar-container {
  @include flexStyleColumn;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1000;

  .close-btn {
    padding-left: 15px;
    padding-top: 8px;
  }

  hr {
    border-width: 0.2px;
    border-color: #333;
    width: 100%;
    margin: 8px 0;
  }

  .links-container {
    @include flexStyleColumn;
    @include smallPadding;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 32px;
    margin-top: 32px;

    button {
      @include linksFont;
      opacity: 80%;
    }
  }

  app-footer {
    opacity: 90%;
  }
}
