@import "_index";

.mobile-navbar-container {
  @include flexStyleColumn;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  transition: 1.3s all;

  .close-btn {
    padding: 30px;
    padding-top: 30px;
  }

  hr {
    border-width: 0.2px;
    border-color: #333;
    width: 100%;
    margin: 10px 0;
  }

  .links-container {
    @include flexStyleColumn;
    @include smallPadding;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    button {
      @include linksFont;
      opacity: 80%;
    }
  }

  app-footer {
    opacity: 90%;
  }

  &.open {
    animation: rollDown 1.3s forwards;
  }

  &.closed {
    animation: rollUp 1.3s forwards;
  }

  @keyframes rollDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes rollUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
