@import "_index";

.filter-item {
  @include linksFont;
  font-size: 18px;
  transition: all 0.3s ease;

  &.active {
    border-bottom: 1.5px solid $goldColor;
    font-weight: 400;
    padding-bottom: 5px;
  }
}
