@import "_index";

.background-color {
  background-color: $lightGreyColor;
}

.wrapper {
  @include componentPadding;
  
  @include small-screen {
    @include smallPadding;
  }

  @include medium-large-screens {
    @include bigPadding;
  }

  .about-container {
    width: 100%;

    @include medium-large-screens {
      @include flexStyleRow;
      flex-direction: row-reverse;
    }

    .logo {
      @include small-screen {
        width: 102px;
        height: 95px;
        margin: 24px 0 32px;
      }
    }

    .logo-wrapper {
      @include medium-large-screens {
        margin: 174px 0 189px;

        img {
          width: 178px;
          height: 166px;
        }
      }
    }

    .about-wrapper {
      @include flexStyleColumn;
      align-items: flex-start;

      @include small-screen {
        .apple-google-container {
          @include flexStyleColumn;
          margin-bottom: 48px;
          gap: 16px;
        }

        h3 {
          @include articleTextFont;
          line-height: 35px;
        }

        .description-container {
          @include articleTextFont;
          line-height: 35px;
          margin-bottom: 48px;
        }
      }

      @include medium-large-screens {
        .apple-google-container {
          display: flex;
          gap: 16px;
          order: 3;
          margin-bottom: 30px;
        }

        .description-container {
          order: 2;

          p {
            @include articleTextFont;
            line-height: 35px;
            margin-bottom: 30px;
            width: 75%;
          }
        }

        h3 {
          text-transform: uppercase;
          @include articleSubHeaderFont;
          letter-spacing: 2.14px;
          order: 1;
          margin: 40px 0 16px;
        }
      }
    }
  }
}

app-restaurants-button {
  @include medium-large-screens {
    display: none;
  }
}