@import "_index";

.filter-bar-wrapper {
  @include componentPadding;

  h1 {
    align-self: flex-start;
    @include h1Font;
    margin-bottom: 25px;

    @include medium-large-screens {
      display: none;
    }
  }

  .filter-bar-container {
    @include flexStyleRow;
    justify-content: center;
    gap: 25px;

    .map-view {
      @include small-screen {
        display: none;
      }
    }
  }
}
.second-filter-bar-container {
  @include componentPadding;
  @include flexStyleRow;
  justify-content: center;
  gap: 30px;
  height: 60px;
  width: 100%;
  background-color: $lightGreyColor;

  @include small-screen {
    display: none;
  }
}
