@import "_index";

.container {
  @include flexStyleColumn;

  img {
    height: 60px;
    width: 77.42px;
    margin-bottom: 32px;
  }
}

/* ---------------- Media Query ---------------- */

/* Small screens */
@include small-screen {
  .container {
    height: 102px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 3vh;
    }

    img {
      height: 35px;
      width: 46px;
      margin-bottom: 32px;
    }
  }
}

/* Medium screens */
@include medium-screens {
  .container {
    height: 127px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 4vh;
    }

    img {
      height: 45px;
      width: 60px;
      margin-bottom: 32px;
    }
  }
}

/* Large screens */
@include large-screens {
  .container {
    height: 127px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 5vh;
    }

    img {
      height: 60px;
      width: 77.42px;
      margin-bottom: 32px;
    }
  }
}
