@import "_index";

.container {
  @include flexStyleColumn;

  img {
    height: 60px;
    width: 77.42px;
    margin-bottom: 32px;
  }

  @include small-screen {
    height: 102px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 15px;
    }

    img {
      height: 35px;
      width: 46px;
      margin-bottom: 32px;
    }
  }

  @include medium-screens {
    height: 127px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 15px;
    }

    img {
      height: 45px;
      width: 60px;
      margin-bottom: 32px;
    }
  }

  @include large-screens {
    height: 127px;
    width: 136px;

    p {
      @include iconLabelFont;
      font-size: 20px;
    }

    img {
      height: 60px;
      width: 77.42px;
      margin-bottom: 32px;
    }
  }
}
