@import "_index";

.filter-chefs-container {
  @include componentPadding;
  display: grid;
  gap: 24px;
  justify-items: center;

  @include small-screen {
    @include smallPadding;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @include medium-large-screens {
    @include bigPadding;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}