/* ---------------- fonts imports ---------------- */

@font-face {
    font-family: primaryFont;
    src: url(../shared/fonts/HelveticaNeueThin.otf);
}

/* ---------------- Screen size variables ---------------- */

$smallScreenSize: 710px;
$largeScreenSize: 1024px;


/* ---------------- pading mixin ---------------- */

@mixin componentPadding {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

@mixin smallPadding {
    padding: 0 20px;
}


@mixin bigPadding {
    padding: 0 60px;
}

/* ---------------- fonts mixins ---------------- */


@mixin h1FontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 32px;
    // line-height: 40px;
    letter-spacing: 1.97px;
}

@mixin h2FontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 30px;
    // line-height: 35px;
    letter-spacing: 1.25px;
}

@mixin h3FontDesktop {
    font-family: primaryFont;
    font-weight: 400;
    font-size: 40px;
    // line-height: 47px;
    letter-spacing: 2.67px;
}

@mixin bodyTextFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 24px;
    // line-height: 30px;
    letter-spacing: 1.97px;
}

@mixin buttonFontDesktop {
    font-family: primaryFont;
    font-weight: 400;
    font-size: 18px; // There is a mistake in the designer typography.
    // line-height: 20px;
    letter-spacing: 2.67px;
}

@mixin inputTextFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 16px;
    // line-height: 18px;
    letter-spacing: 1.97px;
}

@mixin linksFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 18px;
    // line-height: 21.76px;
    letter-spacing: 1.92px;
}

@mixin labelFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 14px;
    // line-height: 18px;
    letter-spacing: 1.97px;
}

@mixin searchBarFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 24px;
    // line-height: 29.02px;
    letter-spacing: 1.29px;
}

@mixin restaurantsLinkFontDesktop {
    font-family: primaryFont;
    font-weight: 400;
    font-size: 24px;
    // line-height: 35px;
    letter-spacing: 2px;
}

@mixin iconLabelDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 24px;
    // line-height: 30px;
    letter-spacing: 1.97px;
}

@mixin chefPhotoNameFontDesktop {
    font-family: primaryFont;
    font-weight: 400;
    font-size: 40px;
    // line-height: 47px;
    letter-spacing: 2.67px;
}

@mixin articleTextFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 24px;
    // line-height: 35px;
    letter-spacing: 1.25px;
}

@mixin articleSubHeaderFontDesktop {
    font-family: primaryFont;
    font-weight: 200;
    font-size: 30px;
    // line-height: 35px;
    letter-spacing: 1.25px;
}