@import "mobile-typography";
@import "desktop-typography";

.history-container {
  @include buttonFontMobile;
  font-size: 2vh;
  font-weight: 700;
  letter-spacing: 1.5px;
  box-sizing: border-box;
  background-color: white;
  padding: 5px;
  border-width: 0.5px;
  min-width: 95px;
  border-style: solid;
  cursor: pointer;
}
