@import "_index";

.slider-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;

  h2 {
    @include h2Font;
    text-transform: uppercase;  
    margin-bottom: 20px;

    @include small-screen {
      text-align: left;
      margin-bottom: 10px
    }
  }

  .slider {
    display: flex;
    flex-direction: row;

    @include small-screen {
      margin-bottom: 20px;
    }

    @include medium-large-screens {
      width: 100%; 
    }
  }
}

.signature-dishes-wrapper {
  @include componentPadding;

  @include small-screen {
    @include smallPadding;
    .slider-container {
      width: 100%;

      app-restaurants-button {
        display: flex;
      }
    }
  }

  @include medium-large-screens {
    @include bigPadding;

    .slider-container {
      @include flexStyleColumn;

      app-restaurants-button {
        display: none;
      }
    }
  }
}

swiper-slide {
  height: auto;
}

app-generic-card {
  display: block;
  height: 100%;
}
