@import "_index";

.slider-container {
  @include componentPadding;
  width: 100%;
  overflow: hidden;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-bottom: 3vh;

    @include small-screen {
      @include h2Font;
      text-align: left;
    }

    @include medium-large-screens {
      @include h2Font;
    }
  }

  .slider {
    display: flex;
    flex-direction: row;

    @include small-screen {
      margin-bottom: 18px;

      .ingredients-container {
        @include flexStyleColumn;
        gap: 5px;
        align-items: flex-start;
        margin-right: 25px;

        .ingredients {
          text-align: left;
          max-height: 35px;
          overflow-y: scroll;
        }

        .icon-container {
          display: flex;
          gap: 5px;

          .icon {
            width: 4vh;
            height: 4vh;
          }
        }

        .line {
          display: none;
        }

        .coin-container {
          @include flexStyleRow;
          gap: 3px;
          margin-bottom: 10px;

          .ILS {
            width: 1vh;
            height: 1vh;
          }
        }
      }
    }

    @include medium-large-screens {
      width: 100%;

      .ingredients-container {
        @include flexStyleColumn;
        justify-content: space-between;
        max-height: 95px;

        .ingredients {
          order: 2;
          margin-left: 25px;
          margin-right: 25px;
          text-align: center;
          max-height: 52px;
          overflow-y: scroll;
        }

        .icon-container {
          order: 1;
          display: flex;
          gap: 5px;

          .icon {
            width: 20px;
            height: 20px;
            margin-bottom: 5px;
          }
        }

        .price-container {
          @include flexStyleRow;
          order: 3;
          gap: 10px;

          .line {
            width: 60px;
            height: 0;
            border: 0.1px solid #979797;
          }

          .coin-container {
            @include flexStyleRow;
            gap: 3px;
            margin-bottom: 10px;
            margin-top: 7px;

            .ILS {
              width: 1vh;
              height: 1vh;
            }
          }
        }
      }
    }
  }
}

.wrapper {
  @include small-screen {
    @include smallPadding;
    .slider-container {
      width: 100%;

      app-restaurants-button {
        display: flex;
      }
    }
  }

  @include medium-large-screens {
    @include bigPadding;

    .slider-container {
      @include flexStyleColumn;

      .swiper-slide {
        height: auto;
      }

      app-restaurants-button {
        display: none;
      }
    }
  }
}
