@import "_index";

.wrapper {
  @include small-screen {
    @include smallPadding;
    margin-top: 14px;
  }

  @include medium-large-screens {
    @include bigPadding;
    margin-top: 48px;
  }

  h1 {
    align-self: flex-start;
    @include h1Font;
    margin-bottom: 24px;

    @include medium-large-screens {
      display: none;
    }
  }

  .filter-bar-container {
    @include flexStyleRow;
    justify-content: center;
    gap: 40px;

    .map-view {
      @include small-screen {
        display: none;
      }
    }
  }

}
.second-filter-bar-container {
  @include flexStyleRow;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  height: 60px;
  width: 100%;
  background-color: $lightGreyColor;

  @include small-screen {
    display: none;
  }
}