<div class="wrapper">
  <h1>RESTAURANTS</h1>
  <div class="filter-bar-container">
    @for(filter of filters; track filter) {
    <ng-container>
      <app-filter-button
        [filter]="filter"
        [selectedFilter]="selectedFilter"
        (onFilterChange)="setFilter($event)"
      ></app-filter-button>
    </ng-container>
    }
  </div>
</div>
<div class="second-filter-bar-container">
  @for (secondFilter of secondFilters; track secondFilter) {
  <app-second-filter-button [secondFilterName]="secondFilter" />
  }
</div>
