<div class="restaurant-page-wrapper" [ngClass]="{'padding-contianer': selectedFilter === 'Map View'}">
  <div class="restaurant-page-container">
    <div class="wrapper">
      <div class="restaurant-content">
        @if (selectedFilter !== 'Map View') {
        <app-filter-restaurants />
        } @else {
        <app-map-view />
        }
      </div>
    </div>
  </div>
</div>
<app-filter-bar
  [ngClass]="{'padding-class': selectedFilter === 'Map View'}"
  [pageName]="'Restaurants'"
  [fontSize]="filterBarFontSize"
  [tabsNames]="filters"
  [secondTabsNames]="secondFilters"
  [userPriceRangeSelected]="userPriceRangeSelected"
  [userDistanceSelected]="userDistanceSelected"
  (filterChange)="onFilterChange($event)"
  (distanceChange)="onDistanceChange($event)"
  (ratingChange)="onRatingChange($event)"
  (priceRangeChange)="onPriceRangeChange($event)"
/>
