<div class="restaurant-page-wrapper">
  <div class="restaurant-page-container">
    <div class="wrapper">
      <div class="filter-bar-container">
        <app-filter-bar
          [pageName]="'Restaurants'"
          [fontSize]="filterBarFontSize"
          [tabsNames]="filters"
          [secondTabsNames]="secondFilters"
          (filterChange)="onFilterChange($event)"
          (ratingChange)="onRatingChange($event)"
        ></app-filter-bar>
      </div>
      <div class="restaurant-content">
        @if (selectedFilter !== 'Map View') {
        <app-filter-restaurants />
        } @else {
        <app-map-view />
        }
      </div>
    </div>
  </div>
</div>
