@import "_index";

.popular-restaurants-wrapper {
  @include componentPadding;

  @include small-screen {
    @include smallPadding;
  }

  @include medium-large-screens {
    @include bigPadding;
  }

  .slider-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    @include medium-large-screens {
      @include flexStyleColumn;
      text-align: center;
    }

    h2 {
      @include h2Font;
      text-transform: uppercase;
      margin-bottom: 20px;

      @include small-screen {
        margin-bottom: 10px;
      }
    }
    .slider {
      display: flex;
      flex-direction: row;

      @include medium-large-screens {
        width: 100%;
        min-width: 600px;
      }

      .rating {
        @include small-screen {
          display: none;
        }

        @include medium-large-screens {
          width: 90%;
          height: 40px;
        }
      }

      p {
        @include bodyTextFont;
        margin-left: 15px;

        @include medium-large-screens {
          margin-bottom: 10px;
        }
      }
    }

    app-restaurants-button {
      display: flex;

      @include small-screen {
        margin-top: 20px;
      }
      @include medium-large-screens {
        align-self: flex-end;
        margin-top: 40px;
      }
    }
  }
}
