@import 'mobile-typography';
@import 'desktop-typography';

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid black;
    width: 300px;
    border-radius: 4px;
    width: 90%;
    max-width: 70%;

    .search-icon {
        margin: 5px 18px 5px 12px;
    }

    input[type="search"] {
        margin-top: 3px;
        border: none;
        outline: none; 
        background: none; 
        width: 100%; 
    }

}

/* ---------------- Media Query ---------------- */

/* Small screens */
@media screen and (max-width: $smallScreenSize) {
    .search-bar-container{
        height: 30px;    
        min-width: 300px;
        input[type="search"] {
            @include searchBarFontMobile;
        }
        .search-icon {
            height: 20px;
            width: 20px;
        }
    }

}

/* Medium and large screens */
@media screen and (min-width: ($smallScreenSize + 1)) {
    .search-bar-container {
        height: 48px;    
        min-width: 480px;
        input[type="search"] {
            @include searchBarFontDesktop;
        }
        .search-icon {
            height: 32px;
            width: 32px;
        }
    }
}