@import "_index";

.rating-bar-container {
  @include flexStyleColumn;
  gap: 10px;
  position: absolute;
  margin-top: 30px;
  margin-left: 280px;
  padding-top: 20px;
  background-color: white;
  width: 300px;
  padding-inline: 30px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); 

  .title {
    @include linksFont;
    font-weight: 400;
  }

  mat-checkbox {
    border-radius: 10px;
    width: 80%;
    margin-bottom: 30px;
  }
}
