@import "_index";

.container {
  @include flexStyleRow;
  @include restaurantsLinkFont;
  gap: 12px;
  border: none;
  cursor: pointer;
  background: none;

  img {
    height: 24px;
    width: 24px;
  }
}

/* ---------------- Media Query ---------------- */

/* Small screens */
@include small-screen {
  .container {
    font-size: 13px;
    width: 172px;
    height: 35px;
  }
}

/* Medium screens */
@include medium-screens {
  .container {
    font-size: 15px;
    width: 100%;
    height: 35px;
  }
}

/* Large screens */
@include large-screens {
  .container {
    font-size: 25px;
    width: 226px;
    height: 35px;
  }
}
