@import "_index";

.slider-container {
  width: 100%;
  overflow: hidden;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;

    @include small-screen {
      @include h2Font;
      text-align: left;
    }

    @include medium-large-screens {
      @include h2Font;
    }
  }

  .slider {
    display: flex;
    flex-direction: row;

    @include small-screen {
      margin-bottom: 20px;

      .ingredients-container {
        @include flexStyleColumn;
        gap: 5px;
        align-items: flex-start;
        margin-right: 25px;

        .ingredients {
          text-align: left;
          height: 60px;
        }

        .icon-container {
          display: flex;
          gap: 5px;

          .icon {
            width: 5px;
            height: 5px;
          }
        }

        .line {
          display: none;
        }

        .coin-container {
          @include flexStyleRow;
          gap: 5px;
          margin-bottom: 10px;

          .ILS {
            width: 5px;
            height: 5px;
          }
        }
      }
    }

    @include medium-large-screens {
      width: 100%;

      .ingredients-container {
        @include flexStyleColumn;
        justify-content: space-between;

        .ingredients {
          order: 2;
          margin-left: 40px;
          margin-right: 40px;
          text-align: center;
          height: 150px;

          @include small-screen {
            height: 100px;
          }
        }

        .icon-container {
          order: 1;
          display: flex;
          gap: 5px;

          .icon {
            width: 40px;
            height: 30px;
            margin-bottom: 5px;
          }
        }

        .price-container {
          @include flexStyleRow;
          order: 3;
          gap: 10px;

          .line {
            width: 60px;
            height: 0;
            border: 0.1px solid #979797;
          }

          .coin-container {
            @include flexStyleRow;
            gap: 3px;
            margin-bottom: 10px;
            margin-top: 10px;

            .ILS {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

.wrapper {
  @include componentPadding;

  @include small-screen {
    @include smallPadding;
    .slider-container {
      width: 100%;

      app-restaurants-button {
        display: flex;
      }
    }
  }

  @include medium-large-screens {
    @include bigPadding;

    .slider-container {
      @include flexStyleColumn;

      app-restaurants-button {
        display: none;
      }
    }
  }
}

swiper-slide {
  height: auto;
}

app-generic-card {
  display: block;
  height: 100%;
}
