
@use "@angular/material" as mat;

@include mat.core();

$Epicure-project-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);
:root {
  @include mat.all-component-themes($Epicure-project-theme);
}
* {
  font-family: "Helvetica Neue";
  margin: 0 0 0;
  box-sizing: border-box;
  -webkit-user-drag: none; 
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
