@import "_index";

.distance-bar-container {
  @include flexStyleColumn;
  gap: 10px;
  position: absolute;
  padding-top: 20px;
  background-color: white;
  width: 350px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); 
  right: -100px;

  .title {
    @include linksFont;
    font-weight: 400;
  }
  mat-slider {
    background-color: $cremeColor;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 30px;
  }
}
