@mixin fontStyle($weight, $size, $spacing) {
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
}

@mixin fontProperties($weight, $size, $letterSpacing) {
  @include fontStyle($weight, $size, $letterSpacing);
}

@mixin responsiveFont($weight, $mobileSize, $desktopSize, $letterSpacing) {
  @include fontProperties($weight, $desktopSize, $letterSpacing);
  @include small-screen {
    @include fontProperties($weight, $mobileSize, $letterSpacing);
  }
}
