@mixin flexStyleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexStyleColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin componentPadding {
  margin-top: 50px;
}

@mixin smallPadding {
  padding: 0 30px;
}

@mixin bigPadding {
  padding: 0 130px;
}
