<div class="week-chef-wrapper">
  <div class="week-chef-container">
    <h2>Chef of the week:</h2>
    <div class="descripition-container">
      <app-week-chef-picture
        [chefPicture]="chefs[12].imageSrc"
        [chefName]="chefs[12].name"/>
      <p class="chef-description">{{ chefs[12].description }}</p>
    </div>
    <div class="restaurants-container">
      <h3>{{ getFirstName(chefs[12].name) }}'s restaurants</h3>
      <swiper-container class="cards-container" [breakpoints]="breakpoints">
        @for (restaurant of chefs[12].restaurants; track restaurant){
        <swiper-slide class="swiper-container">
          <app-generic-card
            [title]="restaurant.name"
            [imageSrc]="restaurant.imageSrc"/>
        </swiper-slide>
        }
      </swiper-container>
    </div>
    <app-restaurants-button buttonName="All Restaurants" url="/restaurants"></app-restaurants-button>
  </div>
</div>
