@import "_index";

.wrapper {
  .week-chef-container {
    @include componentPadding;
    @include small-screen {
      @include smallPadding;

      .week-chef-container {
        align-items: flex-start;
        overflow: hidden;
        width: 100%;
      }
    }

    @include medium-large-screens {
      @include bigPadding;
    }

    h2 {
      @include h2Font;
      text-transform: uppercase;
      margin-bottom: 15px;

      @include medium-large-screens {
        text-align: center;
        margin-bottom: 40px;
      }
    }

    .restaurants-container {
      h3 {
        @include articleSubHeaderFont;
        margin-bottom: 15px;
        margin-top: 20px;
      }

      .cards-container {
        @include small-screen {
          @include flexStyleRow;
          margin-bottom: 15px;
        }

        @include medium-large-screens {
          margin-right: 450px;
          margin-bottom: 15px;
        }
      }
    }

    .descripition-container {
      @include medium-large-screens {
        @include flexStyleRow;
        gap: 100px;
        align-items: flex-start;
      }

      .chef-description {
        @include articleTextFont;
        text-align: justify;
        margin-bottom: 30px;
        width: 100%;
  
        @include small-screen {
          line-height: 30px;
        }
  
        @include medium-screens {
          line-height: 25px;
          font-size: 15px;
        }
  
        @include large-screens {
          line-height: 40px;
        }
      }
    }
  }

  app-restaurants-button {
    @include medium-large-screens {
      display: none;
    }
  }
}
