<div class="wrapper">
  <div class="week-chef-container">
    <h2>Chef of the week:</h2>
    <div class="descripition-container">
      <app-week-chef-picture
        [chefPicture]="chefs[0].imgSrc"
        [chefName]="chefs[0].name"/>
      <p class="chef-description">{{ chefOfTheWeek.description }}</p>
    </div>
    <div class="restaurants-container">
      <h3>{{ getFirstName(chefOfTheWeek.name) }}'s restaurants</h3>
      <swiper-container class="cards-container" [breakpoints]="breakpoints">
        @for (restaurant of chefOfTheWeek.restaurants; track restaurant){
        <swiper-slide>
          <app-generic-card
            [title]="restaurant.name"
            [imageSrc]="restaurant.imgSrc"/>
        </swiper-slide>
        }
      </swiper-container>
    </div>
    <app-restaurants-button />
  </div>
</div>
